@import "tailwindcss/base";
@import "@navikt/ds-css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: var(--a-font-size-heading-xsmall);
}

h2 {
  margin-bottom: var(--a-spacing-2);
}

.collection {
  padding-left: var(--a-spacing-4);
  padding-right: var(--a-spacing-4);
}

.collection {
  padding-top: var(--a-spacing-4);
  padding-bottom: var(--a-spacing-4);
  margin-bottom: var(--a-spacing-4);
}

.collection.updated {
  background-color: var(--a-green-50);
  border-bottom: 1px solid var(--a-green-100);
}

.collection.all {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-6);
}

.collection .title {
  display: flex;
  gap: var(--a-spacing-2);
}

.collection .title .sub-category {
  font-size: var(--a-font-size-medium);
  font-weight: var(--a-font-weight-regular);
  color: var(--a-text-subtle);
}

.collection .title .sub-category::before {
  content: "•";
  margin-right: var(--a-spacing-2);
  color: var(--a-gray-300);
}

.icon-grid {
  display: flex;
  gap: var(--a-spacing-4);
  flex-wrap: wrap;
}